@model LetsLearnCzech.Web.Models.VerbModel

@{
    ViewBag.Title = "Create verb";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create verb</h2>

@using (Html.BeginForm("CreateVerb", "Word")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

         <div class="form-group">
            @Html.LabelFor(model => model.ForeignWord, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ForeignWord)
                @Html.ValidationMessageFor(model => model.ForeignWord)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocalWord, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocalWord)
                @Html.ValidationMessageFor(model => model.LocalWord)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aspect, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Aspect)
                @Html.ValidationMessageFor(model => model.Aspect)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Conjugation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                 @Html.EnumDropDownListFor(model => model.Conjugation)
                @Html.ValidationMessageFor(model => model.Conjugation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsProcessed, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsProcessed)
                @Html.ValidationMessageFor(model => model.IsProcessed)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Person, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Person)
                @Html.ValidationMessageFor(model => model.Person)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tense, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Tense)
                @Html.ValidationMessageFor(model => model.Tense)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
