@model LetsLearnCzech.Web.Models.NounModel

@{
    ViewBag.Title = "Noun details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Noun details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ForeignWord)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ForeignWord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalWord)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocalWord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForeignGender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ForeignGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalGender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocalGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsProcessed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsProcessed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Case)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Case)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
