@model IEnumerable<LetsLearnCzech.Web.Models.WordModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create noun", "Create", new {wordType = LetsLearnCzech.Web.CzechService.WordType.Noun })
    @Html.ActionLink("Create verb", "Create", new {wordType = LetsLearnCzech.Web.CzechService.WordType.Verb })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WordType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForeignWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProcessed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WordType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ForeignWord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalWord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsProcessed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>
